<div class="container">
    <div class="jumbotron">
        <h1>La escuela de Hillel</h1>
        <p>
            Es un honor para usted pertenecer a esta institucion
        </p>
    <div class="page-header">
        <h1>Inasistencias</h1>
    </div>

</div>