<div class="container">
    <div class="jumbotron">
        <h1>Virtual School</h1>
        <p>
            La mejor manera de educar
        </p>
    <div class="page-header">
        <h1>Inasistencias</h1>
    </div>

</div>