
<div class="container">
    <div class="page-header">
        <h1>Sanciones</h1>
    </div>

   
    
    @using (Html.BeginForm("ListaSanciones", "Campus", FormMethod.Post))
    {


        <div class="form-inline" role="form">
            <div class="form-group">
                <label for="sel1">Seleccionar Año</label>
                <select id="anio" name="anio" class="form-control">
                    <option id="anio" value="1">1</option>
                    <option id="anio" value="2">2</option>
                    <option id="anio" value="3">3</option>
                    <option id="anio" value="4">4</option>
                    <option id="anio" value="5">5</option>
                    <option id="anio" value="6">6</option>

                </select>


            </div>



            <div id="Division" class="form-group">
                <div class="form-group">
                    <label for="sel1">Seleccionar Divicion</label>
                    <select id="anio" name="letra" class="form-control">
                        <option id="letra" value="A">A</option>
                        <option id="letra" value="B">B</option>
                        <option id="letra" value="C">C</option>

                    </select>
                </div>
            </div>
            
        </div><br /><br />

    <button type="submit" class="btn btn-default">Cargar</button>
    


    }

