@using Campus_virtual.Models;
@model DetalleAlumno

@{
    ViewBag.Title = "VerAlumno";
}

<h2>Detalles del Alumno</h2>



       Nombre: @Model.Nombre <br />
       Apellido:@Model.Apellido<br />
       Nombre de Usuario: @Model.NombreUsuario<br />
       Cantidad de Faltas: @ViewData["CantFaltas"]<br />
       Cantidad de Sanciones: @ViewData["CantSanciones"]  
        
    
 