
@{
    ViewBag.Title = "VerMateriaFalta";
}

<div class="container">
    <h2>--/--/--</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Materia</th>
                <th>Tipo</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var falta in ViewBag.listafaltas)
            {
                <tr>
                    <td>
                        @foreach (var materia in ViewBag.listamaterias)
                        {
                            if(falta.IdMateria == materia.idMateria)
                            {
                                @materia.Nombre
                            }
                        }
                    </td>
                    <td>@falta.tipo </td>
                </tr>
            }
        </tbody>
    </table>
</div>