
@{
    ViewBag.Title = "VerMateriaFalta";
}

<div class="container">
    <h2>--/--/--</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Materia</th>
                <th>Tipo</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Matematica</td>
                <td>Ausente</td>
                
            </tr>
            <tr>
                <td>Arte</td>
                <td>Presente</td>
                
            </tr>
            <tr>
                <td>Lengua</td>
                <td>Tarde</td>
            </tr>
        </tbody>
    </table>
</div>