
@{
    ViewBag.Title = "VerSancion";
}

@using Campus_virtual.Models;
@model Sancion
<h1>Mi Sancion</h1>

    <div class="container">
        <div class="jumbotron">
            <h1>@Model.nombre   @Model.apellido</h1>
            <p>
                @Model.motivo
            </p>
        </div>
        <p>@Model.fecha.</p>
        <p>This is another text.</p>
    </div>
