
@{
    ViewBag.Title = "VerSancion";
}

@using Campus_virtual.Models;
@model Sancion
<h1>Mi Sancion</h1>
<div class="container">

    <h2>@Model.nombre   @Model.apellido </h2><br />
    <h4>@Model.motivo</h4><br />
    <p>@Model.fecha</p>
</div>