
@{
    ViewBag.Title = "VerSancion";
}

@using Campus_virtual.Models;
@model Sancion
<h1>Mi Sancion</h1>

    <div class="container">
        
        <h2> @Model.apellido<small> @Model.nombre </small></h2>
            <p>
                @Model.motivo
            </p>
   
        <p>@Model.fecha.</p>
       
    </div>
